[submodule "themes/hello-4s3ti"]
	path = themes/hello-4s3ti
	url = https://github.com/4s3ti/hugo-theme-hello-4s3ti.git
[submodule "themes/terminalcv"]
	path = themes/terminalcv
	url = https://github.com/4s3ti/terminalcv.git
[submodule "themes/minimo"]
	path = themes/minimo
	url = https://github.com/MunifTanjim/minimo
